.sliderContainer {
    height: 35px;
    width: 100%;
    /* position: relative;
    top: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderWrapper {
    width: inherit;/*280px;*/
    height: inherit;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--sliderWrapper);
}

.sliderWrapper > * {
    display: inline-block;
    text-align: center;
}

.sliderSubWrapper {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--left-panel);
}

.customSlider {
    max-width: inherit;
    width: calc(90% - 2px);/*240px;*/
    /* line-height: 4px; */
}
  
.customSlider-track {
    /* Top value to align your track to the center of your thumb */
    top: 0px;
    bottom: 0px;
    height: 4px;
    /* thickness of the track */
    position: relative;
    /* default color of your track */
    background: var(--defaultTrackColor);
}
  
.customSlider-track.customSlider-track-0 {
    /* color of the track before the thumb */
    background: var(--trackBeforeThumb);
}

.customSlider-thumb {
    cursor: pointer;
    position: absolute;
    display: block;
    /*color for the thumb */
    background: var(--thumbColor);
    /* shape of the thumb: circle */
    top: -8px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* remove default outline when selected */
    outline: none;
}
  
.customSlider-thumb:hover {
    box-shadow: 0 0 0 8px var(--thumbColorHover);
}

.customSlider-mark.customSlider-mark-before {
    background-color: var(--markBefore);
}
  
.customSlider-mark.customSlider-mark-active {
    display: none;
}