.parent-tab {
    width: 100%;
    height: 100%;
}

.upper-data-tab {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.upper-data-element-tab{
    width: 100%;
}

.data-container{
    width: 85%;
    height: 95%;
    border: 2px solid var(--Data-container-style1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.margin-element {
    margin-bottom: 5%;
}

.margin-element:nth-of-type(1){
    margin-bottom: 2%;
}

.margin-element:nth-of-type(3){
    margin-bottom: 2%;
}

.upper-data-element-title{
    font-weight: bold;
    color: var(--text-color);
}

.upper-data-element{
    color: var(--text-color);
}

.small-text {
    font-size: 12px;
}

.tab-right{
    margin-right: 15px;
}

.button-container{
    height: 21%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-wrapper{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-span{
    width: 50%;
    height: 70%;
}

.button-tab{
    margin-right: 5%;
}

.reset-button{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 15%;
    background: var(--Button-color);
    font-weight: bold;
}

.reset-button:hover{
    transition: all 70ms ease;
    background: var(--Button-color-hover);
}

.parent-tab > :nth-child(2){
    height: 65%;
    width: 100%;
    /* background: green; */
}

.config-switch{
    vertical-align: middle;
}

.slider-group-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.slider-row-container{
    width: 50%;
}

.slider-row-container > *{
    width: 95%;
    text-align: center;
    margin: auto;
}

.gripper-container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: center;
}

.gripper-wrapper {
    width: 85%;
}